@model IEnumerable<GestaoDeRelatosDDD.MVC.ViewModels.EducadorViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OficinaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TurnoId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OficinaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TurnoId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EducadorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EducadorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EducadorId })
        </td>
    </tr>
}

</table>
