<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Fazendinha", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="/Educador" class="nav-link">Educadores</a></li>
                    <li class="nav-item"><a href="/Educando" class="nav-link">Educando</a></li>
                    <li class="nav-item"><a href="/Tecnico" class="nav-link">Técnico</a></li>
                    <li class="nav-item"><a href="/Oficina" class="nav-link">Oficina</a></li>
                    <li class="nav-item"><a href="/Relato" class="nav-link">Relato</a></li>
                    <li class="nav-item"><a href="/Unidade" class="nav-link">Unidade</a></li>
                    <li class="nav-item"><a href="/Turno" class="nav-link">Turno</a></li>
                    <li class="nav-item"><a href="/Profissao" class="nav-link">Profissão</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
